.add {
  position: relative;
  z-index: 8;
  padding-top: 50px;
  padding-bottom: 36px;
  margin-top: -69px;
  border-radius: 30px;
  background-color: #e6e8f1;

  @media (min-width: 768px) {
    padding-bottom: 33px;
    border-radius: 60px;
    background-color: #edeff6;
  }

  @media (min-width: 1440px) {
    padding-bottom: 134px;
  }
}

.add__wrapper {
  position: relative;
  z-index: 199;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-position: calc(100% - 25px) 56px;
  background-image: url("../img/services.svg");
  background-size: 31%;

  @media (min-width: 768px) {
    padding-bottom: 50px;
    position: relative;
    background-image:
      url("../img/services.svg"),
      url("../img/add-back.svg");
    background-position:
    calc(100% - 85px) calc(100% - 12px),
    calc(100% - 38px) calc(100% - 83px);
    background-size: 100px, auto;
  }

  @media (min-width: 1440px) {
    padding: 85px 130px 50px;
    background-image:
      url("../img/services.svg"),
      url("../img/add-back-desktop.svg");
    background-position:
    calc(100% - 132px) calc(100% - 131px),
    calc(100% - 245px) calc(100% - 83px);
    background-size: 200px, auto;

    &::after {
      top: 254px;
      right: 17%;
      width: 445px;
      height: 300px;
    }
  }
}

.add-shift {
  padding-left: 25px;

  @media (min-width: 768px) {
    padding-left: 0;
  }
}

.add__title {
  margin-bottom: 44px;

  @media (min-width: 768px) {
    margin-bottom: 75px;
    text-align: center;

    br {
      display: none;
    }
  }

  @media (min-width: 1440px) {
    margin-bottom: 134px;
  }
}

.add__title-img {
  padding-top: 6px;
}

.add__services {
  @include clearList;

  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
  line-height: 16px;
  color: $special-grey;
  counter-reset: service-number;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 45px);
    height: 1px;
    content: "";
    background-color: #e1e3e9;
  }

  @media (min-width: 768px) {
    margin-bottom: 49px;

    &::after {
      display: none;
    }
  }

  @media (min-width: 1440px) {
    max-width: 79.6%;
  }
}

.add__service {
  position: relative;
  padding: 12px 0 16px 0;

  &::before {
    position: absolute;
    top: 4px;
    right: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    content: counter(service-number);
    width: 34px;
    height: 34px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;
    border-radius: 50%;
    counter-increment: service-number;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 45px);
    height: 1px;
    content: "";
    background-color: #e1e3e9;
  }

  &--1::before {
    background-color: $special-orange;
  }

  &--2::before {
    background-color: $special-yellow-dark;
  }

  &--3::before {
    background-color: $basic-yellow;
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 90px;
    padding: 23px 35px 21px 0;
    border-top: 1px solid #e1e3e9;

    &:last-child {
      border-bottom: 1px solid #e1e3e9;
    }

    &::before {
      width: 68px;
      height: 68px;
      top: -1px;
      left: -90px;
      font-size: 28px;
      line-height: 28px;
    }

    &::after {
      display: none;
    }
  }

  &:nth-child(2)::before {
    top: 1px;
  }

  &:nth-child(3)::before {
    top: 3px;
  }
}

.add__service-price {
  display: block;
  margin-top: 6px;
}

.add__show {
  font-size: 16px;
  line-height: 16px;
  font-family: inherit;
  font-weight: 700;
  color: #132576;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    position: relative;
    padding-left: 89px;
    font-size: 20px;
    line-height: 20px;

    &::before {
      position: absolute;
      top: -22px;
      left: 0;
      content: "";
      width: 68px;
      height: 68px;
      background-image: url("../img/icons/rates-icon.svg");
    }
  }
}

.add__modal {
  position: absolute;
  top: 20px;
  left: -1000px;
  z-index: 1919;
  transform: translateX(-50%);
  width: calc(100% - 50px);
  padding: 34px 25px 93px;
  box-shadow: 0px 2px 8px rgba(29, 46, 91, 0.14);
  border-radius: 20px;
  background-color: #ffffff;
  transition: all 0.2s ease-out;

  &--show {
    left: 50%;
  }

  @media (min-width: 768px) {
    width: calc(100% - 80px);
    padding: 50px 90px 160px;
  }

  @media (min-width: 1440px) {
    top: 120px;
    width: 750px;
    padding: 50px 90px 160px;
  }
}

.add__modal-title {
  margin-top: 0;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 47px;
  }
}

.add__modal-list {
  @include clearList;
}

.add__modal-item {
  padding: 11px 0;
  color: $special-grey;
  border-top: 1px solid rgba(#000000, 0.05);

  &:last-child {
    border-bottom: 1px solid rgba(#000000, 0.05);
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding: 14px 0 12px;
    font-size: 22px;
    line-height: 28px;
  }
}

.add__modal-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 21px 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
  color: $basic-blue-light;
  text-transform: uppercase;
  background-color: #f3f4f8;;
  border: none;
  border-radius: 0 0 20px 20px;
  cursor: pointer;

  &:hover {
    background-color: #edeff6;
  }

  &:active {
    color: rgba($basic-blue-light, 0.3);
  }

  @media (min-width: 768px) {
    padding: 41px 0;
    font-size: 24px;
    text-transform: none;
  }
}
