.append {
  margin-top: -100px;
  padding-top: 28px;
  padding-bottom: 83px;
  background-color: #d4d9eb;
  border-radius: 30px 30px 0 0;

  @media (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 157px;
  }

  @media (min-width: 1440px) {
    padding-bottom: 140px;
    border-radius: 60px 60px 0 0;
  }
}

.append-container {
  @media (min-width: 1440px) {
    padding: 0 60px;
  }
}

.append__title {
  margin-top: 0;
  margin-bottom: 31px;

  @media (min-width: 768px) {
    margin-bottom: 59px;
  }

  @media (min-width: 1440px) {
    padding-left: 70px;
  }
}

.append__dates {
  margin: 0;
  margin-bottom: 10px;
  padding: 22px 25px 23px;
  color: $basic-blue-light;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;

  @media (min-width: 768px) {
    margin-bottom: 39px;
    padding: 45px 40px 56px;
    border-radius: 30px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 44px;
    padding: 100px 160px 106px;
    border-radius: 60px;
  }
}

.append__dates-title {
  margin-top: 0;
  margin-bottom: 17px;

  @media (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 33px;
  }
}

.append__dates-text {
  margin-bottom: 19px;
  font-weight: 400;
  color: $special-grey;

  br {
    display: none;
  }

  @media (min-width: 768px) {
    margin-bottom: 23px;
    padding-bottom: 39px;
    font-size: 20px;
    line-height: 24px;
    border-bottom: 1px solid #e1e3e9;
  }

  @media (min-width: 1440px) {
    margin-bottom: 30px;
    padding-bottom: 55px;

    br {
      display: block;
    }
  }
}

.append__dates-box {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 1440px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 32px;
  }
}

.append__dates-label {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.09em;

  &::after {
    order: 1;
    content: attr(data-cut);
    font: inherit;
    letter-spacing: 0.07em;
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;

    &--duration {
      order: 3;
      margin-bottom: 40px;
    }
  }

  @media (min-width: 1440px) {
    width: 47.6%;
    align-items: center;
    letter-spacing: 0;

    span {
      flex-grow: 1;
    }

    &::after {
      order: 3;
      width: 40px;
    }

    &--fellows {
      order: 1;
      margin-bottom: 14px;
    }

    &--duration {
      order: 3;
      margin-bottom: 0;
    }
  }
}

.append__dates-increment,
.append__dates-decrement {
  position: absolute;
  top: 48px;
  transform: translateY(-50%);
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 13px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: 768px) {
    top: 80px;
    height: 70px;
  }
}

.append__dates-decrement {
  left: 8px;
}

.append__dates-increment {
  right: 0;
}

.append__dates-input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 19px;
  padding: 11px 38px;
  order: 2;
  font-family: inherit;
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  color: $basic-blue-light;
  text-align: center;
  border: 1px solid #cbced9;
  border-radius: 4px;
  transition: 0.17s all ease-in;
  -moz-appearance:textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }

  &:hover {
    border-color: #959bb2;
  }

  &:focus {
    border-color: $basic-blue;
    outline: none;
  }

  @media (min-width: 768px) {
    margin-top: 25px;
    padding: 22px 38px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: 1440px) {
    width: 180px;
    margin: 0;
    margin-right: 35px;
  }
}

.append__dates-checkbox {
  display: none;
}

.append__dates-checkbox-label {
  position: relative;
  display: block;
  margin-top: 9px;
  margin-bottom: 27px;
  padding-left: 39px;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;

  &::before,
  &::after {
    position: absolute;
    content: "";
    transition: all ease-in 0.2s;
  }

  &::before {
    top: -7px;
    left: 0;
    width: 26px;
    height: 26px;
    border: 1px solid #cbced9;
    border-radius: 4px;
  }

  &::after {
    display: none;
    top: 1px;
    left: 6px;
    width: 13px;
    height: 12px;
    background-image: url("../img/icons/icon_check-mark.svg");
    background-size: cover;
  }

  &:hover::before {
    border-color: #959bb2;
  }

  @media (min-width: 768px) {
    order: 2;
    margin-top: 13px;
    margin-bottom: 22px;
    padding-bottom: 35px;
    padding-left: 58px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 1px solid #e1e3e9;

    &::before {
      width: 36px;
      height: 36px;
    }

    &::after {
      top: 4px;
      left: 9px;
      width: 18px;
      height: 17px;
    }
  }

  @media (min-width: 1440px) {
    border-bottom: none;
    padding-bottom: 0;
    margin: 0;
    margin-top: 24px;
  }
}

.append__dates-checkbox:disabled + .append__dates-checkbox-label::before {
  background-color: #e2e5f1;
  border: none;
}

.append__dates-checkbox:checked + .append__dates-checkbox-label::after {
  display: block;
}

.append__dates-calendar {
  margin-bottom: 22px;

  @media (min-width: 768px) {
    margin-bottom: 47px;
  }

  @media (min-width: 768px) {
    margin-bottom: 57px;
  }
}

.append__button {
  width: 100%;
  padding: 5px 0;
  color: $basic-blue-light;

  @media (min-width: 768px) {
    position: relative;
    width: 53%;
    padding: 29px 33px 27px;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
    text-align: left;
    border-radius: 20px;

    &::after {
      position: absolute;
      top: 50%;
      right: 31px;
      content: "";
      transform: translateY(-50%);
      border: 6px solid transparent;
      border-left: 10px solid $basic-blue-light;
    }
  }

  @media (min-width: 1440px) {
    width: 28.6%;
  }
}

.append__choose {
  margin: 0;
  margin-bottom: 10px;
  padding: 22px 25px 9px;
  color: $basic-blue-light;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;

  @media (min-width: 768px) {
    position: relative;
    margin-bottom: 51px;
    padding: 45px 38px 54px 43px;
    border-radius: 30px;

    &::after {
      position: absolute;
      top: 29.8%;
      bottom: 20%;
      z-index: 1;
      right: calc(27% + 13px);
      width: 1px;
      background-color: #e1e3f9;
      content: "";
    }
  }

  @media (min-width: 820px) {
    &::after {
      right: calc(27% + 11px);
    }
  }

  @media (min-width: 870px) {
    &::after {
      right: calc(27% + 6px);
    }
  }



  @media (min-width: 1440px) {
    margin-bottom: 43px;
    padding: 95px 160px 105px;
    border-radius: 60px;

    &::after {
      bottom: 10%;
      right: calc(29% + 2px);
    }
  }
}

.append__choose-title {
  margin-top: 0;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    margin-bottom: 35px;
  }
}

.append__choose-text {
  margin-top: 0;
  margin-bottom: 23px;

  br {
    display: none;
  }

  @media (min-width: 768px) {
    margin-bottom: 42px;
    padding-bottom: 34px;
    font-size: 20px;
    line-height: 24px;
    border-bottom: 1px solid #e1e3e9;

    br {
      display: block;
    }
  }

  @media (min-width: 1440px) {
    margin-bottom: 62px;
    padding-bottom: 57px;
  }
}

.append__choose-country {
  position: relative;
  display: flex;
  z-index: 20;

  &:not(:last-of-type) {
    margin-bottom: 22px;
  }

  &:last-of-type {
    margin-bottom: 23px;
  }

  &::before {
    position: absolute;
    z-index: 10;
    top: calc(50% - 4px);
    right: calc(49px);
    width: 8px;
    height: 8px;
    background-color: $basic-blue-light;
    border-radius: 50%;
    content: "";
  }

  &::after {
    position: absolute;
    bottom: -17px;
    right: 53px;
    transform: translateX(50%);
    width: 8px;
    height: 11px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/arrow-next.svg");
    content: "";
  }

  &--unselected::before {
    right: 49px;
    background-color: #ffffff;
    border: 1px solid #cbced9;
  }

  @media (min-width: 768px) {
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 16px;
    }

    &:last-of-type {
      margin-bottom: 12px;
    }

    &::before {
      top: calc(50% - 9px);
      right: calc(24% + 6px);
      width: 14px;
      height: 14px;
    }
  }

  @media (min-width: 1440px) {
    &::before {
      right: calc(21% + 8px);
    }
  }
}

.append__choose-remove {
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 21px;
  transform: translate(50%, -50%);
  background-color: #efeff6;
  border-radius: 50%;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/icons/icon_close.svg");

  @media (min-width: 768px) {
    position: static;
    width: 22px;
    height: 24px;
    margin-left: 15px;
    transform: translate(0);
    background-size: cover;
    background-color: transparent;
  }

  @media (min-width: 1440px) {
    margin-left: 80px;
    margin-right: 4px;
  }
}

.append__choose-select {
  position: relative;
  max-width: calc(100% - 53px);
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 11px;
  font-family: "BloggerSans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  color: $basic-blue-light;
  cursor: pointer;
  overflow-x: hidden;
  white-space: nowrap;
  box-shadow: inset -73px 0px 15px -12px #ffffff;

  span {
    position: relative;
    z-index: -4;
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 12px;
    z-index: 5;
    transform: translateY(-50%);
    content: "";
    width: 16px;
    height: 12px;
    background-image: url("../img/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }

  @media (min-width: 768px) {
    max-width: 68.7%;
    margin-right: auto;
    padding: 24px 39px 24px 25px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;

    &::after {
      right: 28px;
    }
  }

  @media (min-width: 1440px) {
    max-width: 73%;

    &::after {
      top: 52%;
      right: 24px;
      width: 22px;
      height: 24px;
      background-image: url("../img/arrow-down-desktop.svg");
    }
  }
}

.append__choose-country--unselected .append__choose-select {
  max-width: 100%;

  @media (min-width: 768px) {
    max-width: 68.7%;
  }

  @media (min-width: 1440px) {
    max-width: 73%;
  }
}

.append__choose-select,
.append__choose-flag {
  border: 1px solid #cbced9;
  border-radius: 4px;
}

.append__choose-flag {
  display: block;
  padding: 8px 9px;
  box-sizing: content-box;

  @media (min-width: 768px) {
    width: 70px;
    height: 47px;
    padding: 10px 9px;
    border: none;
  }
}

.append__choose-add {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
  padding: 12px 11px;
  font-family: "BloggerSans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
  color: $basic-blue-light;
  background-color: #edeff6;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &::before {
    position: absolute;
    top: calc(50% - 4px);
    right: 49px;
    z-index: 10;
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 1px solid #cbced9;
    border-radius: 50%;
    content: "";
  }

  &::after {
    position: absolute;
    top: 14px;
    right: 15px;
    width: 14px;
    height: 14px;
    content: "";
    background-image: url("../img/icons/icon_plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media (min-width: 768px) {
    max-width: 68.7%;
    margin-bottom: 50px;
    padding: 25px 26px;
    font-size: 20px;
    line-height: 20px;

    &::before {
      top: calc(50% - 8px);
      right: -33px;
      width: 14px;
      height: 14px;
      background-color: #edeff6;
    }

    &::after {
      width: 21px;
      height: 21px;
    }
  }

  @media (min-width: 1440px) {
    max-width: 73%;
    margin-bottom: 58px;

    &::before {
      right: -52px;
    }
  }
}

.append__choose-nav {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.append__prev-button {
  position: relative;
  width: 100%;
  margin-top: 10px;
  font-family: "BloggerSans", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: $basic-blue-light;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: 768px) {
    width: auto;
    margin-top: 0;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;

    &::before {
      position: absolute;
      top: calc(50% - 1px);
      left: -34px;
      content: "";
      transform: translateY(-50%) rotate(180deg);
      border: 7px solid transparent;
      border-left: 11px solid $basic-blue-light;
    }
  }
}

.append__choose-dropdown {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @media (min-width: 768px) {
    width: calc(100% + 38px);
    top: -2px;
  }
}

.append__fun {
  padding: 22px 25px 10px;
  color: $basic-blue-light;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;

  @media (min-width: 768px) {
    padding: 44px 41px 53px;
    border-radius: 30px;
  }

  @media (min-width: 768px) {
    padding: 96px 157px 103px;
    border-radius: 60px;
  }
}

.append__fun-title {
  margin-top: 0;

  @media (min-width: 768px) {
    margin-bottom: 35px;
  }
}

.append__fun-text {
  margin-bottom: 22px;

  br {
    display: none;
  }

  @media (min-width: 768px) {
    margin-bottom: 34px;
    padding-bottom: 35px;
    font-size: 20px;
    line-height: 24px;
    border-bottom: 1px solid #e1e3e9;
  }

  @media (min-width: 1440px) {
    margin-bottom: 78px;
    padding-bottom: 57px;

    br {
      display: block;
    }
  }
}

.append__fun-countries {
  @include clearList;
}

.append__fun-country {
  position: relative;
  z-index: 2;
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 15px;
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 49px;
    padding-right: 30px;

    &:last-child {
      margin-bottom: 47px;
    }
  }

  @media (min-width: 1440px) {
    padding-right: 116px;

    &:last-child {
      margin-bottom: 58px;
    }
  }
}

.append__fun-country-name {
  flex-grow: 1;
  margin-bottom: 18px;
  padding-left: 9px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  box-shadow: inset -73px 0px 15px -12px #ffffff;

  span {
    position: relative;
    z-index: -1;
  }

  @media (min-width: 768px) {
    margin-bottom: 40px;
    padding-left: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
  }
}

.append__fun-country-flag {
  position: absolute;
  top: -4px;
  right: 0;
  width: 35px;
  height: 24px;

  @media (min-width: 768px) {
    position: static;
    width: 70px;
    height: 47px;
    margin-top: -7px;
  }

  @media (min-width: 1440px) {
    margin-top: -3px;
  }
}

.append__fun-plans {
  padding: 8px 11px;
  width: 100%;
  height: 220px;
  font: inherit;
  font-weight: 400;
  color: $special-grey;
  border: 1px solid #cbced9;
  border-radius: 4px;
  resize: none;

  @media (min-width: 768px) {
    height: 142px;
    padding: 16px 30px 16px 20px;
    font-size: 20px;
    line-height: 23px;
  }

  @media (min-width: 1440px) {
    margin-right: 17.5%;
    padding: 22px 20px 16px 25px;
  }
}
