.fellows {
  position: relative;
  z-index: 9;
  margin-top: -60px;
  padding-top: 106px;
  padding-bottom: 30px;
  border-radius: 30px;
  background-color: #192144;
  background-repeat: no-repeat;
  background-image:
    url("../img/fellows-bg-boy.png"),
    url("../img/fellows-bg-girl.png"),
    url("../img/fellows-figure.svg");
  background-position:
    calc(100% - 25px) 95px,
    left 367px,
    left 94px;
  background-size: auto, auto, 30%;

  @media (min-width: 768px) {
    margin-top: -100px;
    padding-top: 237px;
    padding-bottom: 88px;
    border-radius: 60px;
    background-image:
      url("../img/fellows-bg-boy.png"),
      url("../img/fellows-bg-girl-tablet.png"),
      url("../img/square-figure.svg");
    background-position:
      7% 525px,
      calc(100% - 74px) 180px,
      7.5% 171px;
    background-size: auto, auto, 212px 212px;
  }

  @media (min-width: 1440px) {
    padding-top: 227px;
    padding-bottom: 134px;
    background-position:
      42% 292px,
      16.5% 544px,
      4.9% 228px;
  }
}

.fellows__wrapper {
  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: 49.5% 50.5%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "inner list"
      "button list";
    margin-right: -70px;
  }

}

.fellows__inner {
  margin-bottom: 58px;
  padding: 0 20px 0 24px;

  @media (min-width: 768px) {
    max-width: 70%;
    margin-bottom: 61px;
    padding: 0;
  }

  @media (min-width: 1440px) {
    grid-area: inner;
  }
}

.fellows__title {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 56px;
  }

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.fellows__text {
  &:not(:last-child) {
    margin-bottom: 21px;
  }

  &--expressed {
    font-weight: 700;

    br {
      display: none;
    }
  }

  @media (min-width: 768px) {
    line-height: 34px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &--expressed {
      font-size: 21px;
      line-height: 24px;

      br {
        display: block;
      }
    }
  }
}

.fellows__list {
  @include clearList;

  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  row-gap: 9px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    max-width: 790px;
    margin: 0 auto;
    grid-template-columns: 285px 285px;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  @media (min-width: 1440px) {
    grid-area: list;
    margin: 0;
    padding-top: 8px;
  }
}

.fellows__button {
  @media (min-width: 1440px) {
      grid-area: button;
    max-width: 45.4%;
  }
}
