.socials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}

.socials__link {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;

  &--yellow-bg {
    border-radius: 50%;
    background-color: $basic-yellow;
  }

  &:hover path {
    fill: rgba(#192144, 0.6);
  }

  &:active path {
    fill: rgba(#192144, 0.3);
  }

  &--yellow-bg:hover {
    background-color: $special-yellow-dark;
  }

  &--yellow-bg:hover path {
    fill: #192144;
  }

  &--yellow-bg:active path {
    fill: rgba(#192144, 0.3);
  }

  @media (min-width: 768px) {
    width: 62px;
    height: 62px;
  }
}

.socials__svg {
  @media (min-width: 768px) {
    &--fb {
      width: 14px;
      height: 28px;
    }

    &--vk {
      width: 31px;
      height: 16px;
    }

    &--inst {
      width: 24px;
      height: 24px;
    }
  }

  @media (min-width: 1440px) {
    &--fb {
      width: 14px;
      height: 28px;
    }

    &--vk {
      width: 31px;
      height: 16px;
    }

    &--inst {
      width: 24px;
      height: 24px;
    }
  }
}
