.user-nav {
  display: flex;
}

.user-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.15s cubic-bezier(.19,.76,.76,.2);

  &--phone {
    background-color: $special-orange;
  }

  &--phone:hover {
    background-color: #f26926;
  }

  &--mail {
    background-color: $special-yellow-dark;
  }

  &--mail:hover {
    background-color: $special-orange;
  }

  &:active svg {
    transition: all 0.1s;
    opacity: 0.3;
  }

  @media (min-width: 1440px) {
    width: 50px;
    height: 50px;
  }
}

.user-nav__btn {
  flex-grow: 1;
  line-height: 20px;

  @media (min-width: 1440px) {
    padding-left: 29px;
    padding-right: 28px;
  }
}
